{% extends '@FrameworkAdmin/components/form.html.twig' %}

{% block box_header %}
    {% if entity.idOrder is defined and entity.idOrder is not none %}
        {% set order_id = entity.idOrder %}
    {% else %}
        {% set order_id = id %}
    {% endif %}
    <a href="{{ path('shop_orders_edit', {id: order_id}) }}" class="btn btn-xs btn-github"><i class="fa fa-list"></i> {{ 'btn.list' | trans }}</a>
    <a href="{{ path('shop_orders_item_add', {id: order_id}) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add product to cart</a>
{% endblock %}

{% block body_box2 %}

    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h3 class="box-title">{% block section_title %}{{ section_title | default('') | trans }}{% endblock %}</h3>
                </div>
                <div class="col-xs-12 col-sm-8 text-right">
                    <a href="{{ path(section.list_path) }}" class="btn btn-xs btn-github"><i class="fa fa-list"></i> {{ 'btn.list' | trans }}</a>
                    {% if section.add_path != '' %}
                        <a href="{{ path(section.add_path) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> {{ 'btn.create' | trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box-body">

        {% block body %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="box-body2">
                {{ form_widget(form) }}
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" class="btn btn-success" value="{{ 'btn.save' | trans }}">
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        {% endblock %}

        </div>
    </div>

{% endblock %}
