{% extends 'FrameworkAdminBundle::layout.html.twig' %}

{% block body_box %}

    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h3 class="box-title">{% block section_title %}{{ section_title | default('') | trans }}{% endblock %}</h3>
                </div>
                <div class="col-xs-12 col-sm-8 text-right">
                    <a href="{{ path(section.list_path) }}" class="btn btn-xs btn-github"><i class="fa fa-list"></i> {{ 'btn.list' | trans }}</a>
                    {% if section.add_path != '' %}
                        <a href="{{ path(section.add_path) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> {{ 'btn.create' | trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">

        {% block body %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="box-body2">
                {{ form_widget(form) }}
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" class="btn btn-success" value="{{ 'btn.save' | trans }}">
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        {% endblock %}

                </div>
                <div class="col-sm-6">
                    <iframe
                        width="600"
                        height="400"
                        frameborder="0" style="border:0; width: 100%;"
                        src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_key }}&q={{ entity.address }} {{ entity.city }}" allowfullscreen>
                    </iframe>
                </div>
            </div>

        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h3 class="box-title">Order Items</h3>
                </div>
                <div class="col-xs-12 col-sm-8 text-right">
                    {% if stateMachine.canChange %}
                    <a href="{{ path('shop_orders_item_add', {id: entity.id}) }}" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add product to cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box-body">

            <table class="table table-condensed table-bordered">
            <tr>
                {% if stateMachine.canChange %}
                <th>Options</th>
                {% endif %}
                <th>Product title</th>
                <th>Product code</th>
                <th>Tax Value (%)</th>
                <th>Shipping Cost (%)</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Item total price</th>
            </tr>
            {% for item in entity.orderItems %}
            <tr>
                {% if stateMachine.canChange %}
                <td>
                    <a href="{{ path('shop_orders_item_edit', {id: item.id}) }}" class="btn btn-primary btn-xs">Edit</a>
                    <a href="" class="btn btn-danger btn-xs">Delete</a>
                </td>
                {% endif %}
                <td><a href="{{ path('shop_products_edit', {id: item.idProduct}) }}" target="_blank">{{ products[item.idProduct].title }}</a></td>
                <td>{{ products[item.idProduct].code }}</td>
                <td>{{ item.taxValue }}</td>
                <td>{{ item.shippingCost }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | price }}</td>
                <td>{{ item.totalPrice | price }}</td>
            </tr>
            {% endfor %}
            </table>

            <div class="desp-20"></div>

            <div class="row">
                <div class="col-sm-8">
                    <a href="{{ path('shop_orders_total', {id: entity.id}) }}" class="btn-sm btn btn-primary">Recalculate total</a>
                    {% for key, sm in stateMachine.getAvailableTransitions %}
                        <a href="{{ path('shop_orders_item_status', {id: entity.id, state: key}) }}" class="btn btn-sm btn-info"><i class="fa fa-step-forward" aria-hidden="true"></i> {{ key | trans }}</a>&nbsp;
                    {% endfor %}
                </div>
                <div class="col-sm-4 text-right">
                    <h2 class="total-price">Total: {{ entity.totalPrice | price }}</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
