{% extends '@FrameworkAdmin/components/listing.html.twig' %}

{% import '@FrameworkAdmin/macros/navigation-macros.html.twig' as navBtn %}
{% import '@FrameworkAdmin/macros/table-btn-macros.html.twig' as tbl %}

{% block box_header %}
    {{ navBtn.list(path(section.list_path), 'btn.list') }}
    {#{{ navBtn.create(path(section.add_path), 'btn.create') }}#}
{% endblock %}

{% block listing_table_content %}
    <thead>
    <tr>
        <th width="200">{{ 'table.header.options' | trans }}</th>
        <th width="60">{{ 'table.header.id' | trans }}</th>
        <th>{{ 'table.header.title' | trans }}</th>
        <th>{{ 'table.header.status' | trans }}</th>
        <th>{{ 'table.header.email' | trans }}</th>
        <th>{{ 'table.header.phone' | trans }}</th>
        <th>{{ 'table.header.city' | trans }}</th>
        <th>{{ 'table.header.total_price' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        {#{{ dump(item) }}#}
        <tr id="row-{{ item.id }}" class="{{ orderItemRowClass(item) }}">
            <td>
                {{ tbl.edit(path(section.edit_path, {id: item.id})) }}
                {#{{ tbl.delete(item.id, path(section.delete_path)) }}#}
            </td>
            <td>{{ item.id }}</td>
            <td><a href="{{ path(section.edit_path, {id: item.id}) }}">{{ item.name }}</a></td>
            <td>{{ item | orderStateMachineStatus | trans }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.city }}</td>
            {#<td><a href="{{ path(section.list_path, {c: item.idCategory}) }}">{{ item.category }}</a></td>#}
            <td>{{ item.totalPrice | default(0) | price }}</td>
            {#{{ statusToggle(item, path(section.status_path)) }}#}
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
