{#<li class="{% if match('testimonials', route) %}active{% endif %}">#}
    {#<a href="{{ path('adm_testimonials') }}">#}
        {#<i class="fa fa-comments" aria-hidden="true"></i> <span>{{ 'main_navigation.testimonials' | trans }}</span>#}
    {#</a>#}
{#</li>#}
<li class="{% if match('products', route) %}active{% endif %}"><a href="{{ path('shop_products') }}"><i class="fa fa-list"></i> {{ 'shop_navigation.products' | trans }}</a></li>
<li class="{% if match('shop_categories', route) %}active{% endif %}"><a href="{{ path('shop_categories') }}"><i class="fa fa-tree"></i> {{ 'shop_navigation.products_categories' | trans }}</a></li>
<li class="{% if match('orders', route) %}active{% endif %}"><a href="{{ path('shop_orders') }}"><i class="fa fa-shopping-bag"></i> {{ 'shop_navigation.customer_orders' | trans }}</a></li>

{#<li class="treeview">#}
    {#<a href="#">#}
        {#<i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>{{ 'shop_navigation.title' | trans }}</span>#}
        {#<span class="pull-right-container">#}
            {#<i class="fa fa-angle-left pull-right"></i>#}
        {#</span>#}
    {#</a>#}
    {#<ul class="treeview-menu">#}
    {#</ul>#}
{#</li>#}
